<img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo" width="100" height="100"></a>

<!-- <h4>{{ site.owner.name }}</h4> -->

<p>{{ site.owner.bio }}</p>

{% if site.owner.email %}<p style="text-indent:0;"><a href="mailto:{{ site.owner.email }}" target="_blank"><img src="https://zhengpinzhong.github.io/images/logo/email.svg" width="15.8" height="15.8"></i> Email</a></p>{% endif %}

{% if site.owner.cv %}<p style="text-indent:0;"><a href="{{ site.owner.cv }}"><img src="https://zhengpinzhong.github.io/images/logo/cv.svg" width="15.8" height="15.8"></i> My CV</a></p>{% endif %}

{% if site.owner.twitter %}<p style="text-indent:0;"><a href="https://twitter.com/{{ site.owner.twitter }}"><img src="https://zhengpinzhong.github.io/images/logo/twiiter.svg" width="15.8" height="15.8"></i> Twitter</a></p>{% endif %}

{% if site.owner.facebook %}<p style="text-indent:0;"><a href="https://facebook.com/{{ site.owner.facebook }}"><img src="https://zhengpinzhong.github.io/images/logo/facebook.svg" width="15.8" height="15.8"></i> Facebook</a></p>{% endif %}

{% if site.owner.google_plus %}<p style="text-indent:0;"><a href="{{ site.owner.google_plus }}"><i class="icon-google-plus"></i> Google+</a></p>{% endif %}

{% if site.owner.linkedin %}<p style="text-indent:0;"><a href="https://linkedin.com/in/{{ site.owner.linkedin }}"><img src="https://zhengpinzhong.github.io/images/logo/linkin.svg" width="15.8" height="15.8"></i> LinkedIn</a></p>{% endif %}

{% if site.owner.instagram %}<p style="text-indent:0;"><a href="https://instagram.com/{{ site.owner.instagram }}"><img src="https://zhengpinzhong.github.io/images/logo/instagram.svg" width="15.8" height="15.8"></i> Instagram</a></p>{% endif %}

{% if site.owner.github %}<p style="text-indent:0;"><a href="https://github.com/{{ site.owner.github }}"><img src="https://zhengpinzhong.github.io/images/logo/github.svg" width="15.8" height="15.8"></i> Github</a></p>{% endif %}

{% if site.owner.lastfm %}<p style="text-indent:0;"><a href="https://lastfm.com/{{ site.owner.lastfm }}"><i class="icon-lastfm"></i> Last.fm</a></p>{% endif %}

{% if site.owner.tumblr %}<p style="text-indent:0;"><a href="https://{{ site.owner.tumblr }}.tumblr.com"><i class="icon-tumblr"></i> Tumblr</a></p>{% endif %}

{% if site.owner.scholar%}<p style="text-indent:0;"><a href="{{ site.owner.scholar}}"><img src="https://zhengpinzhong.github.io/images/logo/google_scholar.svg" width="15.8" height="15.8"></i> Google Scholar</a></p>{% endif %}

{% if site.owner.researchgate %}<p style="text-indent:0;"><a href="{{ site.owner.researchgate}}"><img src="https://zhengpinzhong.github.io/images/logo/researchgate.svg" width="15.8" height="15.8"></i> ResearchGate</a></p>{% endif %}

{% if site.owner.zhihu %}<p style="text-indent:0;"><a href="{{ site.owner.zhihu }}"><img src="https://zhengpinzhong.github.io/images/logo/zhihu.svg" width="15.8" height="15.8"></i> Zhihu</a></p>{% endif %}

{% if site.owner.bilibili %}<p style="text-indent:0;"><a href="https://space.bilibili.com/{{ site.owner.bilibili }}"><img src="https://zhengpinzhong.github.io/images/logo/bilibili.svg" width="15.8" height="15.8"></i> Bilibili</a></p>{% endif %}

{% if site.owner.orcid %}<p style="text-indent:0;"><a href="https://orcid.org/{{ site.owner.orcid }}"><img src="https://zhengpinzhong.github.io/images/logo/orcid.svg" width="15.8" height="15.8"></i> ORCID</a></p>{% endif %}




<!-- Lastly modified by ZHENG Pinzhong in 2024/09/04 -->